<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="atlas" >
  
  <include filename="$(find atlas_description)/urdf/atlas_simple_shapes.urdf" />
  <include filename="$(find irobot_hand_description)/urdf/irobot_hand.urdf.xacro" />

  <xacro:irobot_hand side="right" parent="r_hand" reflect="1">
    <origin rpy="1.57079 0 0" xyz="0 -0.05 0"/>
  </xacro:irobot_hand>
  <xacro:irobot_hand side="left" parent="l_hand" reflect="-1">
    <origin rpy="1.57079 0 3.14159" xyz="0 0.05 0"/>
  </xacro:irobot_hand>

  <gazebo>
    <!-- plugin for right irobot hand -->
    <plugin name="right_irobot_hand_plugin" filename="libIRobotHandPlugin.so">
      <side>right</side>
    </plugin>
    <!-- plugin for left irobot hand -->
    <plugin name="left_irobot_hand_plugin" filename="libIRobotHandPlugin.so">
      <side>left</side>
    </plugin>
  </gazebo>

  <include filename="$(find atlas_description)/urdf/atlas.gazebo" />
  <include filename="$(find atlas_description)/urdf/atlas.transmission" />
  <include filename="$(find multisense_sl_description)/urdf/multisense_sl.urdf" />

</robot>
