<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="atlas" >
  <xacro:include filename="$(find atlas_description)/urdf/atlas_v3_simple_shapes.urdf" />
  <xacro:include filename="$(find atlas_description)/urdf/atlas_v3.gazebo" />
  <xacro:include filename="$(find atlas_description)/urdf/atlas_v3.transmission" />
  <xacro:include filename="$(find multisense_sl_description)/urdf/multisense_sl_v3.urdf" />
</robot>
