<launch>
  <!--
  <rosparam file="$(find sandia_hand_description)/config/sandia_hand_gazebo_gains.yaml" ns="sandia_hands"/>
  -->

  <!-- launch some simple grasp controllers just for a strawman -->
  <!--
  <node pkg="sandia_hand_teleop" type="simple_grasp.py" name="simple_grasp_left"  ns="sandia_hands/l_hand"/>
  <node pkg="sandia_hand_teleop" type="simple_grasp.py" name="simple_grasp_right" ns="sandia_hands/r_hand"/>
  -->

  <!-- additional nodes to publish joint states for the hands -->
  <!--
  <node pkg="robot_state_publisher" type="state_publisher" name="sandia_hands_l_hand_robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="joint_states" to="/sandia_hands/l_hand/joint_states" />
  </node>
  <node pkg="robot_state_publisher" type="state_publisher" name="sandia_hands_r_hand_robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="joint_states" to="/sandia_hands/r_hand/joint_states" />
  </node>
  -->

  <!-- Stereo image processing -->
  <node ns="sandia_hands/l_hand/camera" name="stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc" respawn="false" output="screen">
    <param name="disparity_range" type="int" value="128"/>
    <param name="approximate_sync" type="bool" value="false"/>
  </node>
  <node ns="sandia_hands/r_hand/camera" name="stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc" respawn="false" output="screen">
    <param name="disparity_range" type="int" value="128"/>
    <param name="approximate_sync" type="bool" value="false"/>
  </node>

  <include file="$(find atlas_utils)/launch/atlas_bringup.launch"/>
</launch>
