<launch>

  <arg name="gzname" default="gazebo"/>
  <arg name="gzworld" default="atlas_sandia_hands.world"/>
  <param name="/use_sim_time" type="bool" value="true"/>

  <!-- start gazebo with the Atlas -->
  <node name="gazebo" pkg="atlas_utils" type="run_$(arg gzname)" args="$(arg gzworld)" output="screen" />

  <!-- Robot Description -->
  <param name="robot_description" textfile="$(find atlas_sandia_hands)/atlas_sandia_hands.urdf"/>
  
</launch>
  

