<launch>

  <arg name="gzname" default="gazebo"/>
  <param name="/use_sim_time" type="bool" value="true"/>

  <!-- start gazebo with the Atlas -->
  <node name="gazebo" pkg="atlas_utils" type="run_$(arg gzname)" args="atlas_irobot_hand.world" output="screen" />

  <!-- Robot Description -->
  <param name="robot_description" textfile="$(find atlas_irobot_hand)/model.urdf"/>
  
</launch>
  

