<launch>

  <arg name="gzname" default="gazebo"/>

  <!-- start gazebo with the Atlas -->
  <include file="$(find atlas_utils)/launch/atlas_no_controllers.launch">
    <arg name="gzname" value="$(arg gzname)"/>
    <arg name="gzworld" value="atlas_drc_vehicle_fire_hose.world"/>
  </include>

  <include file="$(find atlas_utils)/launch/atlas_bringup.launch"/>
</launch>
