<launch>

  <arg name="gzname" default="gazebo"/>

  <!-- start gazebo with the Atlas -->
  <param name="/use_sim_time" type="bool" value="true"/>

  <!-- start gazebo with the Atlas -->
  <include file="$(find atlas_utils)/launch/atlas_no_controllers.launch">
    <arg name="gzname" value="$(arg gzname)"/>
    <arg name="gzworld" value="drc_sim_v0.world"/>
    <arg name="extra_gazebo_args" value="-q"/>
  </include>

  <!-- Robot Description -->
  <param name="robot_description" textfile="$(find atlas)/atlas.urdf"/>

  <include file="$(find atlas_utils)/launch/atlas_bringup.launch"/>
</launch>
  

