<launch>

  <arg name="gzname" default="gazebo"/>
  <arg name="gzworld" default="qual_task_1.world"/>
  <arg name="hand_suffix" default=""/>

  <param name="/atlas/startup_mode" type="string" value="bdi_stand"/>

  <!-- start gazebo with the Atlas -->
  <include file="$(find atlas_utils)/launch/atlas_no_controllers.launch">
    <arg name="gzname" value="$(arg gzname)"/>
    <arg name="extra_gazebo_args" value="-r --record_path=/tmp/qual_task_1" />
    <arg name="gzworld" value="$(arg gzworld)"/>
  </include>

  <!-- Robot Description -->
  <param name="robot_description" textfile="$(find atlas_sandia_hands)$(arg hand_suffix)/atlas_sandia_hands$(arg hand_suffix).urdf"/>

  <include file="$(find atlas_utils)/launch/atlas_sandia_hands$(arg hand_suffix)_bringup.launch"/>

</launch>
