<launch>

  <arg name="gzname" default="gazebo"/>
  <arg name="gzworld" default="qual_task_1.world"/>

  <!-- start gazebo with the Atlas -->
  <include file="$(find atlas_utils)/launch/atlas_no_controllers.launch">
    <arg name="gzname" value="$(arg gzname)"/>
    <!-- TODO: temporary disable since it kills real time factor -0.40
    <arg name="extra_gazebo_args" value="-r" />
    -->
    <arg name="gzworld" value="$(arg gzworld)"/>
  </include>

  <!-- Robot Description -->
  <param name="robot_description" textfile="$(find atlas_sandia_hands)/atlas_sandia_hands.urdf"/>

  <include file="$(find atlas_utils)/launch/atlas_sandia_hands_bringup.launch"/>

</launch>
