<launch>
  <!-- Use sim time -->
  <param name="/use_sim_time" type="bool" value="true"/>

  <!-- flag to let gazebo plugins know which version of atlas is running -->
  <param name="atlas_version"   value="3" type="int"/>

  <!-- joint states to tf -->
  <node pkg="robot_state_publisher" type="state_publisher" name="atlas_robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="joint_states" to="/atlas/joint_states" />
  </node>
  <node pkg="robot_state_publisher" type="state_publisher" name="multisense_robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="joint_states" to="/multisense/joint_states" />
  </node>

  <!-- Fake Calibration
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration"
        args="pub /calibrated std_msgs/Bool true" />
  -->

  <!-- TF Buffer Server -->
  <node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server" output="log">
    <param name="buffer_size" value="1200.0"/>
  </node>

  <!-- Arms -->
  <rosparam command="load" file="$(find drcsim_gazebo)/config/whole_body_trajectory_controller_v3.yaml" />

  <!-- Controllers that come up started
  <node name="atlas_controller_spawner"
        pkg="pr2_controller_manager" type="spawner" output="log"
        args="- -wait-for=/calibrated atlas_controller" />
  -->

  <!-- Stereo image processing -->
  <node ns="multisense/camera" name="stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc" respawn="false" output="log">
    <param name="disparity_range" type="int" value="128"/>
    <param name="approximate_sync" type="bool" value="false"/>
  </node>

  <!-- relay for multisense simulation topics
       hardware publishes to /joint_states, sim legacy publishes to /multisense/joint_states -->
  <node name="multisense_joint_states_relay" pkg="topic_tools" type="relay"
        args="/joint_states /multisense/joint_states" respawn="false" output="screen">
    <param name="lazy" type="bool" value="True"/>
  </node>

  <!-- relay for multisense sl simulation topics
       sim publishes to /multisense/camera/points (from stereo_proc node), while
       hardware publishes to /multisense/lidar_points
  -->
  <node name="multisense_points_relay" pkg="topic_tools" type="relay"
        args="/multisense/camera/points /multisense/lidar_points" respawn="false" output="screen">
    <param name="lazy" type="bool" value="True"/>
  </node>

  <!-- relay for multisense sl simulation topics
       sim publishes to /multisense/camera/points2 (from stereo_proc node), while
       hardware publishes to /multisense/lidar_points2
  -->
  <node name="multisense_points2_relay" pkg="topic_tools" type="relay"
        args="/multisense/camera/points2 /multisense/lidar_points2" respawn="false" output="screen">
    <param name="lazy" type="bool" value="True"/>
  </node>

</launch>
