<launch>
  <!-- additional nodes to publish joint states for the hands -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robotiq_hands_l_hand_robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="joint_states" to="/robotiq_hands/left_hand/joint_states" />
  </node>

  <node pkg="robot_state_publisher" type="state_publisher" name="robotiq_hands_r_hand_robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="joint_states" to="/robotiq_hands/right_hand/joint_states" />
  </node>
</launch>
