<launch>
  <arg name="model_args" default=""/>
  <rosparam file="$(find sandia_hand_description)/config/sandia_hand_gazebo_gains.yaml" ns="sandia_hands"/>

  <!-- launch some simple grasp controllers just for a strawman -->
  <node pkg="sandia_hand_teleop" type="simple_grasp.py" name="simple_grasp_left"  ns="sandia_hands/l_hand"/>
  <node pkg="sandia_hand_teleop" type="simple_grasp.py" name="simple_grasp_right" ns="sandia_hands/r_hand"/>

  <!-- additional nodes to publish joint states for the hands -->
  <node pkg="robot_state_publisher" type="state_publisher" ns="sandia_hands/l_hand" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="joint_states" to="/sandia_hands/l_hand/joint_states" />
  </node>
  <node pkg="robot_state_publisher" type="state_publisher" ns="sandia_hands/r_hand" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="joint_states" to="/sandia_hands/r_hand/joint_states" />
  </node>

  <!-- Stereo image processing -->
  <node ns="sandia_hands/l_hand" name="stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc" respawn="false" output="log">
    <param name="disparity_range" type="int" value="128"/>
    <param name="approximate_sync" type="bool" value="false"/>
  </node>
  <node ns="sandia_hands/r_hand" name="stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc" respawn="false" output="log">
    <param name="disparity_range" type="int" value="128"/>
    <param name="approximate_sync" type="bool" value="false"/>
  </node>

  <!-- relay for sandia_hands/l_hand simulation topics
       hardware publishes to /sandia_hands_l_hand/[left|right]/[image_raw|camera_info],
       sim legacy publishes to /sandia_hands/l_hand/camera/[left|right]/[image_raw|camera_info] -->
  <node ns="sandia_hands" name="l_hand_left_image_raw_relay" pkg="topic_tools" type="relay"
        args="/sandia_hands/l_hand/camera/left/image_raw /sandia_hands/l_hand/left/image_raw" respawn="false" output="screen">
    <param name="lazy" type="bool" value="True"/>
  </node>
  <node ns="sandia_hands" name="l_hand_left_camera_info_relay" pkg="topic_tools" type="relay"
        args="/sandia_hands/l_hand/camera/left/camera_info /sandia_hands/l_hand/left/camera_info" respawn="false" output="screen">
    <param name="lazy" type="bool" value="True"/>
  </node>
  <node ns="sandia_hands" name="l_hand_right_image_raw_relay" pkg="topic_tools" type="relay"
        args="/sandia_hands/l_hand/camera/right/image_raw /sandia_hands/l_hand/right/image_raw" respawn="false" output="screen">
    <param name="lazy" type="bool" value="True"/>
  </node>
  <node ns="sandia_hands" name="l_hand_right_camera_info_relay" pkg="topic_tools" type="relay"
        args="/sandia_hands/l_hand/camera/right/camera_info /sandia_hands/l_hand/right/camera_info" respawn="false" output="screen">
    <param name="lazy" type="bool" value="True"/>
  </node>
  <!-- relay for sandia_hands/r_hand simulation topics
       hardware publishes to /sandia_hands_r_hand/[left|right]/[image_raw|camera_info],
       sim legacy publishes to /sandia_hands/r_hand/camera/[left|right]/[image_raw|camera_info] -->
  <node ns="sandia_hands" name="r_hand_left_image_raw_relay" pkg="topic_tools" type="relay"
        args="/sandia_hands/r_hand/camera/left/image_raw /sandia_hands/r_hand/left/image_raw" respawn="false" output="screen">
    <param name="lazy" type="bool" value="True"/>
  </node>
  <node ns="sandia_hands" name="r_hand_left_camera_info_relay" pkg="topic_tools" type="relay"
        args="/sandia_hands/r_hand/camera/left/camera_info /sandia_hands/r_hand/left/camera_info" respawn="false" output="screen">
    <param name="lazy" type="bool" value="True"/>
  </node>
  <node ns="sandia_hands" name="r_hand_right_image_raw_relay" pkg="topic_tools" type="relay"
        args="/sandia_hands/r_hand/camera/right/image_raw /sandia_hands/r_hand/right/image_raw" respawn="false" output="screen">
    <param name="lazy" type="bool" value="True"/>
  </node>
  <node ns="sandia_hands" name="r_hand_right_camera_info_relay" pkg="topic_tools" type="relay"
        args="/sandia_hands/r_hand/camera/right/camera_info /sandia_hands/r_hand/right/camera_info" respawn="false" output="screen">
    <param name="lazy" type="bool" value="True"/>
  </node>
  <!-- Stereo image processing for relayed simulation topics -->
  <node ns="sandia_hands/l_hand/camera" name="stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc" respawn="false" output="log">
    <param name="disparity_range" type="int" value="128"/>
    <param name="approximate_sync" type="bool" value="false"/>
  </node>
  <node ns="sandia_hands/r_hand/camera" name="stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc" respawn="false" output="log">
    <param name="disparity_range" type="int" value="128"/>
    <param name="approximate_sync" type="bool" value="false"/>
  </node>

  <include file="$(find drcsim_gazebo)/launch/atlas$(arg model_args)_bringup.launch"/>
</launch>
