<launch>

  <arg name="gzname" default="gazebo"/>

  <param name="/atlas/time_to_unpin" type="double" value="0.0"/>
  <param name="/atlas/startup_mode" type="string" value="pinned"/>

  <!-- start gazebo with the Atlas -->
  <include file="$(find drcsim_gazebo)/launch/atlas_no_controllers.launch">
    <arg name="gzname" value="$(arg gzname)"/>
    <arg name="gzworld" value="atlas_drc_vehicle_fire_hose.world"/>
    <arg name="extra_gazebo_args" value="-q"/>
  </include>

  <!-- Robot Description -->
  <param name="robot_description" textfile="$(find atlas_sandia_hands)/atlas_sandia_hands.urdf"/>

  <include file="$(find drcsim_gazebo)/launch/atlas_sandia_hands_bringup.launch"/>
</launch>
