<launch>

  <arg name="gzname" default="gazebo"/>
  <arg name="gzworld" default="atlas_irobot_hands.world"/>

  <!-- start gazebo with the Atlas -->
  <include file="$(find drcsim_gazebo)/launch/atlas_no_controllers.launch">
    <arg name="gzname" value="$(arg gzname)"/>
    <arg name="gzworld" value="$(arg gzworld)"/>
    <arg name="extra_gazebo_args" value="-q"/>
  </include>

  <!-- Robot Description -->
  <param name="robot_description" textfile="$(find atlas_irobot_hands)/atlas_irobot_hands.urdf"/>

  <include file="$(find drcsim_gazebo)/launch/atlas_bringup.launch"/>
</launch>
