<launch>

  <arg name="gzname" default="gazebo"/>
  <arg name="gzworld" default="drc_practice_task_3"/>


  <!-- start gazebo with the Atlas -->
  <include file="$(find drcsim_gazebo)/launch/drc_practice.launch">
    <arg name="gzname" value="$(arg gzname)"/>
    <arg name="gzworld" value="$(arg gzworld)"/>
  </include>


  <!-- initial robot position -->
  <param name="robot_initial_pose/x"     value="0" type="double"/>
  <param name="robot_initial_pose/y"     value="-1.55" type="double"/>
  <param name="robot_initial_pose/z"     value="1.0" type="double"/>
  <param name="robot_initial_pose/roll"  value="0" type="double"/>
  <param name="robot_initial_pose/pitch" value="0" type="double"/>
  <param name="robot_initial_pose/yaw"   value="1.5707" type="double"/>

</launch>
