<launch>

  <arg name="gzname" default="gazebo"/>

  <!-- start gazebo with the DRC Robot -->
  <include file="$(find atlas_utils)/launch/atlas_no_controllers.launch">
    <arg name="gzname" value="$(arg gzname)"/>
  </include>

  <include file="$(find atlas_utils)/launch/atlas_bringup.launch"/>
</launch>
