<launch>

  <arg name="gzname" default="gazebo"/>

  <!-- start gazebo with the DRC Robot -->
  <include file="$(find drc_robot_utils)/launch/drc_robot_no_controllers.launch">
    <arg name="gzname" value="$(arg gzname)"/>
  </include>

  <include file="$(find drc_robot_utils)/launch/drc_robot_bringup.launch"/>
</launch>
