<launch>

  <!-- start gazebo with the DRC Robot -->
  <include file="$(find drc_robot_utils)/launch/drc_robot_no_controllers.launch"/>

  <!-- Controller Manager -->
  <include file="$(find pr2_controller_manager)/controller_manager.launch" />

  <!-- Fake Calibration -->
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration"
        args="pub /calibrated std_msgs/Bool true" />

  <!-- TF Buffer Server -->
  <node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server" output="screen">
    <param name="buffer_size" value="1200.0"/>
  </node>

  <!-- Arms -->
  <rosparam command="load" file="$(find drc_robot)/ros/whole_body_trajectory_controller.yaml" />

  <!-- Controllers that come up started -->
  <node name="drc_robot_controller_spawner"
        pkg="pr2_controller_manager" type="spawner" output="screen"
        args="--wait-for=/calibrated drc_controller" />
</launch>
