<launch>

  <arg name="gzname" default="gazebo"/>
  <param name="/use_sim_time" type="bool" value="true"/>

  <!-- start gazebo with the DRC Robot -->
  <node name="gazebo" pkg="drc_robot_utils" type="run_$(arg gzname)" args="drc_robot_golf_cart.world" output="screen" />

  <!-- Robot Description -->
  <param name="robot_description" textfile="$(find drc_robot)/model.sdf"/>
  
</launch>
  

