<!-- All nodes required for HANDLE control and visualization. -->
<launch>
  
  <param name="hand_controller" value="irobot" />
  
  <param name="robot_description" 
         command="$(find xacro)/xacro.py '$(find handle_description)/meshes/handle.urdf.xacro'" />

  <node pkg="handle_ros" type="handle_ros" name="handle_ros" output="screen" respawn="true"/>  

  <node pkg="annan_control" type="annan_control" name="annan_ros" output="screen" respawn="true"/>

</launch>
