<!-- This file is used to launch the WAM server, the joystick, and the dashboard. -->

<launch>

    <machine name="DARPA_ARM_Workstation"
             address="$(env ROS_IP)"
             default="true">
        <env name="ROS_IP" value="$(env ROS_IP)"/>
    </machine>

    <machine name="DARPA_ARM_RIGHT_WAM"
             address="darpa-arm-rightArm"
             ros-root="/home/robot/darpa_arm_cturtle/stacks/ros"
             ros-package-path="/home/robot/darpa_arm_cturtle/"
             default="false"
             user="robot"
             password="WAM">
        <env name="ROS_IP" value="192.168.33.10"/>
        <env name="ROS_MASTER_URI" value="http://192.168.33.1:11311"/>
    </machine>

    <!--node pkg="joy" type="joy_node" name="JoystickController" output="screen">
        <param name="deadzone" value="0.1" type="double" />
    </node-->

    <node pkg="wam_client_re2" type="WamNodeRe2.py" name="WamServices" output="screen" />

    <group ns="Dashboard">    
        <include file="$(find darm_dashboard)/motionTestParams.xml" />
        <include file="$(find darm_dashboard)/graspingTestParams.xml" />
        <param name="customPositionPath" value="/home/arm_user/darpa_arm_electric/arm_stacks/darpa_arm_clients/" type="str" />
        <param name="pressureTestDurationSecs" value="0.25" type="double"/>
        <param name="pressureTestErrorThreshold" value="1.5" type="double"/>
        <param name="pressureTestNumberofErrorsThreshold" value="10" type="int"/>
        <param name="rightArmOn" value="true" type="bool"/>
        <param name="leftArmOn" value="false" type="bool"/>

        <!--node pkg="darm_dashboard" type="Dashboard" name="Dashboard" output="screen">
            <remap from="/Audio" to="/Audio" />
            <remap from="/BB2" to="/Bumblebee2" />
            <remap from="/SR4000" to="/SR4000" />
            <remap from="/Prosilica" to="/Prosilica" />
        </node-->
    </group>

    <group ns="RightArm">
        <param name="onTabletop" value="true" type="bool"/>
        <param name="execManagerPeriod" value="0.0025" type="double"/>
        <param name="velPathRate" value="10" type="double"/>
        <param name="configFilename" value="/etc/barrett/RightArm/default.conf" type="str"/>
        <node pkg="WAM_server" type="WAMServer" name="WAMServer" machine="DARPA_ARM_RIGHT_WAM" respawn="true"/>
    </group>

</launch>
