<?xml version="1.0"?>

<model>
  <name>Robotiq Model S</name>
  <description>
    Adaptative robot gripper.
  </description>
  <version>1.0</version>
  <sdf version="1.4">s-model_articulated_out.urdf</sdf>

  <author>
    <name>robotiq hand</name>
    <email>support@robotiq.com</email>
  </author>


</model>
