<launch>

  <!-- start up empty world -->
  <arg name="gui" default="true"/>
  <include file="$(find gazebo_worlds)/launch/empty_world_paused.launch">
    <arg name="gui" value="$(arg gui)" />
  </include>

  <!-- start humanoid -->
  <include file="$(find humanoid)/launch/humanoid.launch"/>

  <!-- load pr2 style controllers -->
  <rosparam file="$(find humanoid)/config/position_controllers.yaml" command="load"/>
  <node name="spawn_test_controller" pkg="pr2_controller_manager" type="spawner" args="head_controller neck_controller torso_controller l_thigh_pan_controller l_thigh_lift_controller l_calf_controller l_ankle_controller l_foot_controller l_shoulder_controller l_upper_arm_controller l_forearm_controller l_wrist_controller r_thigh_pan_controller r_thigh_lift_controller r_calf_controller r_ankle_controller r_foot_controller r_shoulder_controller r_upper_arm_controller r_forearm_controller r_wrist_controller" respawn="false" output="screen" />

</launch>

