<robot name="drc">
    <link name="head">
        <inertial>
            <inertial value="2.6" />
            <origin xyz="0.056 0 0" rpy="0 -0 0" />
            <inertia ixx="0.007" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="l_clav">
        <inertial>
            <inertial value="2.369" />
            <origin xyz="0.029 0 0" rpy="0 -0 0" />
            <inertia ixx="0.007" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="l_farm">
        <inertial>
            <inertial value="0.981" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.003" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="l_foot">
        <inertial>
            <inertial value="1.634" />
            <origin xyz="-0.067 0 0" rpy="0 -0 0" />
            <inertia ixx="0.008" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="l_hand">
        <inertial>
            <inertial value="2.263" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.01" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="l_larm">
        <inertial>
            <inertial value="2.148" />
            <origin xyz="-0.014 0 0" rpy="0 -0 0" />
            <inertia ixx="0.006" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="l_lglut">
        <inertial>
            <inertial value="0.69" />
            <origin xyz="-0.0312052 0 0" rpy="0 -0 0" />
            <inertia ixx="0.00106487" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="l_lleg">
        <inertial>
            <inertial value="4.367" />
            <origin xyz="-0.187 0 0" rpy="0 -0 0" />
            <inertia ixx="0.01" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="l_scap">
        <inertial>
            <inertial value="2.707" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.013" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="l_talus">
        <inertial>
            <inertial value="0.1" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="1.30101e-05" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="l_uarm">
        <inertial>
            <inertial value="1.881" />
            <origin xyz="0.008 0 0" rpy="0 -0 0" />
            <inertia ixx="0.003" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="l_uglut">
        <inertial>
            <inertial value="0.5166" />
            <origin xyz="0.00313046 0 0" rpy="0 -0 0" />
            <inertia ixx="0.00041242" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="l_uleg">
        <inertial>
            <inertial value="7.34" />
            <origin xyz="-0.21 0 0" rpy="0 -0 0" />
            <inertia ixx="0.02" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="ltorso">
        <inertial>
            <inertial value="1.92" />
            <origin xyz="0.0746835 0 0" rpy="0 -0 0" />
            <inertia ixx="0.00174492" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="mtorso">
        <inertial>
            <inertial value="0.55" />
            <origin xyz="0.0305974 0 0" rpy="0 -0 0" />
            <inertia ixx="0.000444215" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="pelvis">
        <inertial>
            <inertial value="14.2529" />
            <origin xyz="0.0271 0 0" rpy="0 -0 0" />
            <inertia ixx="0.1167" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="r_clav">
        <inertial>
            <inertial value="2.369" />
            <origin xyz="0.029 0 0" rpy="0 -0 0" />
            <inertia ixx="0.007" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="r_farm">
        <inertial>
            <inertial value="0.981" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.003" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="r_foot">
        <inertial>
            <inertial value="1.634" />
            <origin xyz="-0.067 0 0" rpy="0 -0 0" />
            <inertia ixx="0.008" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="r_hand">
        <inertial>
            <inertial value="2.263" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.01" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="r_larm">
        <inertial>
            <inertial value="2.148" />
            <origin xyz="-0.014 0 0" rpy="0 -0 0" />
            <inertia ixx="0.006" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="r_lglut">
        <inertial>
            <inertial value="0.69" />
            <origin xyz="-0.0312052 0 0" rpy="0 -0 0" />
            <inertia ixx="0.00106487" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="r_lleg">
        <inertial>
            <inertial value="4.367" />
            <origin xyz="-0.187 0 0" rpy="0 -0 0" />
            <inertia ixx="0.01" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="r_scap">
        <inertial>
            <inertial value="2.707" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="0.013" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="r_talus">
        <inertial>
            <inertial value="0.1" />
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <inertia ixx="1.30101e-05" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="r_uarm">
        <inertial>
            <inertial value="1.881" />
            <origin xyz="0.008 0 0" rpy="0 -0 0" />
            <inertia ixx="0.003" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="r_uglut">
        <inertial>
            <inertial value="0.5166" />
            <origin xyz="0.00313046 0 0" rpy="0 -0 0" />
            <inertia ixx="0.00041242" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="r_uleg">
        <inertial>
            <inertial value="7.34" />
            <origin xyz="-0.21 0 0" rpy="0 -0 0" />
            <inertia ixx="0.02" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
    <link name="utorso">
        <inertial>
            <inertial value="18.484" />
            <origin xyz="0.211 0 0" rpy="0 -0 0" />
            <inertia ixx="0.327" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry />
        </collision>
    </link>
</robot>
