<launch>
   <!-- Record the controller_statistics, for later analysis -->
   <node pkg="drcsim_gazebo" type="run_gzstats.sh" name="$(anon gzstats)"/>
   <node pkg="drcsim_gazebo" type="run_rosbag.sh" name="$(anon rosbag)"/>

   <!-- Logging all related ROS toppics -->
   <include file="$(find drcsim_gazebo)/test/ros_subscribers.launch"/>  
   <!-- Include movie file -->
   <node pkg="drcsim_gazebo" type="run_recordmydesktop.sh" name="$(anon recordmydesktop)"/>
</launch>
