<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="atlas" >
  
  <include filename="$(find atlas_description)/urdf/atlas.urdf" />
  <include filename="$(find irobot_hand_description)/urdf/irobot_hand.urdf.xacro" />

  <xacro:irobot_hand side="right" parent="r_hand" reflect="1">
    <origin rpy="1.57079 0 0" xyz="0 -0.05 0"/>
  </xacro:irobot_hand>
  <xacro:irobot_hand side="left" parent="l_hand" reflect="-1">
    <origin rpy="-1.57079 0 0" xyz="0 0.05 0"/>
  </xacro:irobot_hand>

  <include filename="$(find atlas_description)/urdf/atlas.gazebo" />
  <include filename="$(find atlas_description)/urdf/atlas.transmission" />
  <include filename="$(find atlas_description)/urdf/atlas.sensors" />
</robot>
