<?xml version="1.0" ?>
<robot name="standpipe">
  <link name="world"/>
  <link name="standpipe">
    <inertial>
      <mass value="0.1"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0 0"/>
      <geometry>
        <mesh filename="fire_hose/standpipe.stl" scale="0.0254 0.0254 0.0254" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0 0"/>
      <geometry>
        <mesh filename="fire_hose/standpipe.stl" scale="0.0254 0.0254 0.0254" />
      </geometry>
    </collision>
  </link>

  <joint name="joint_01_1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <axis xyz="0 0 1"/>
    <parent link="world"/>
    <child link="standpipe"/>
    <limit effort="100" lower="0" upper="0" velocity="0"/>
  </joint>
</robot>

